/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  /* border-top: 1px solid #e5e5e5; */
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }
}

.container {
  min-width: 970px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.btn {
  margin: 0;
  padding: 6px 12px;
}

.btn-group-vertical {
  margin: 5px 1px;
}

.btn-xs {
  padding: 1px 5px;
}

.btn-sm {
  padding: 5px 10px;
}

.btn-lg {
  padding: 20px 30px;
}

.btn-group {
  margin: 0;
}

.list-group .list-group-item {
  border: 1px solid #ddd;
}



/* Sticky footer styles
-------------------------------------------------- */

.container-fluid {
  margin: 0 auto;
  height: 100%;
  /* min-width: 970px; */

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  html, body {
    height: 100%;
  }

  #wrap {
    overflow: hidden;
  }

  .container-fluid {
    min-width: 970px;
  }

  .column {
    height: 100%;
    width: 50%;
  }
}

@media (max-width: 992px) {

  #wrap {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .container-fluid {
    min-width: 510px;
  }

  .column {
    height: 500px;
    min-height: 500px;
    margin: 10px 0;
  }
}



.column {
  /* height: 100%; */
}

#wrap {
  position: absolute;
  top: 40px;
  bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}

#header {
  position: fixed;
  height: 30px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f5f5f5;
  color: #999999;
  border-bottom: 1px solid #e3e3e3;
}

#footer {
  position: fixed;
  height: 26px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #f5f5f5; */
  color: #999999;
  /* border-top: 1px solid #e3e3e3; */
}
