/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-xs {
  padding: 1px 5px;
}

.btn-sm {
  padding: 5px 10px;
}

.btn {
  margin: 0;
}

.btn-group-vertical {
  margin: 5px 1px;
}



/* Sticky footer styles
-------------------------------------------------- */

#wrap {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  overflow-x: hidden;
}

#header {
  position: fixed;
  height: 20px;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f5f5f5;
  color: #999999;
  border-bottom: 1px solid #e3e3e3;
}

#footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #f5f5f5;
  color: #999999;
  border-top: 1px solid #e3e3e3;
}
