#list {

}

.panel-list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
}

.panel-list .panel-heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.panel-list .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.panel-list .list-group-item {
  padding-right: 30px;
  padding-left: 10px;
}

.panel-list .list-group {
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 0;
  left: 0;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.panel-list .list-group-item {
  overflow: hidden;
}

.panel-list .list-group-item.opened {
  height: 0px;
  overflow: hidden;
}

.panel-list .list-group-item.active.opened {
  position: absolute;
  top: 0px;
  bottom: 100px;
  right: 0;
  left: 0;
  height: calc(100%);
  overflow-y: scroll;
}

.list-group-item.ng-enter,
.list-group-item.ng-leave {
  display: none;
  --webkit-transition: none;
  transition: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #000;
  background-color: #F5F5F5;
  border-color: #aaa;
  outline: none;
}

.list-group .list-group-item.active:hover, .list-group .list-group-item.active:focus {
  background-color: #F5F5F5;
  outline: none;
}

.filter > input {
  background: #fff no-repeat 13px 13px;
  border: none;
  width: 90%;
  margin-left: 10px;
}

.filter > input:focus {
  outline: 0;
}

.panel-list .list-group-item button.open {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  color: #DDD;
  outline:0;
}

.panel-list.opened .list-group-item button.open {
  display: none;
}

/* .panel-list i {
  position: absolute;
  left: 5px;
  top: 20px;
  opacity: .3;
  width: 50px;
  text-align: center;
  font-size: 3em;
}

.panel-body i {
  opacity: .3;
  width: 50px;
  text-align: center;
  font-size: 3em;
} */

.panel-list .form-group {
  margin-bottom: 0;
}

.panel-footer .pagination {
  margin: 0;
}
