<div id="header">
  <div class="container-fluid muted credit">
    Turn: {{main.game.stats.turn}}
    <button class="btn btn-link btn-sm"
        tooltip="Stop auto turn" tooltip-placement="bottom" tooltip-animation="false"
        ng-click="main.play(0)" ng-disabled="main.dT === 0">
      <i class="glyphicon glyphicon-stop"></i>
    </button>
    <button class="btn btn-link btn-sm"
        tooltip="Take turn" tooltip-placement="bottom" tooltip-animation="false"
        ng-click="main.play(0); main.takeTurn()" ng-disabled="main.dT !== 0" >
      <i class="glyphicon glyphicon glyphicon-step-forward"></i>
    </button>
    <button class="btn btn-link btn-sm" tooltip="Play game"
        tooltip-placement="bottom" tooltip-animation="false"
        ng-disabled="main.dT === 1000" ng-click="main.play(1000)">
      <i class="glyphicon glyphicon-play"></i>
    </button>
    <button class="btn btn-link btn-sm"
        tooltip="Play game (fast)" tooltip-placement="bottom" tooltip-animation="false"
        ng-disabled="main.dT === 100" ng-click="main.play(100)">
      <i class="glyphicon glyphicon-forward"></i>
    </button>

    <a href class="pull-right btn btn-sm btn-link" ng-click="main.pause()">
      <i class="glyphicon glyphicon-flash"></i> {{main.game.stats.E | number:0}}
      <i class="glyphicon glyphicon-asterisk"></i> {{main.game.stats.S | number:0}}
    </a>
 </div>
</div>

<div id="wrap">
  <div class="container-fluid">

    <div class="col-sm-6 grid-ctrl column">
      <div id="grid" class="grid well small">
      </div>
    </div>

    <div class="col-sm-6 ctrl unit-ctrl column">
      <div sliding-list="bot in main.game.bots" item="main.bot">
        <div class="small" bot-panel="bot" show-controls="opened"></div>
      </div>
    </div>

  </div>
</div>

<div id="footer">
  <div class="container-fluid muted credit">
    <button class="btn btn-xs btn-link" ng-click="main.showScripts()">scripts</button>
    <span class="pull-right">
      <button class="btn btn-xs btn-link" ng-click="main.reset()">restart</button>
      <button class="btn btn-xs btn-link" ng-click="main.save()">save</button>
    </span>
 </div>
</div>
