
.grid-ctrl {
  z-index: 100;
}

.grid, .btn-mono {
  font-family: "Courier New", Courier, monospace;
}

.grid .bot {
  color: #a94442;
  cursor: pointer;
}

.grid .bot-base {
  color: #428bca;
}

.grid .bot.active {
  background-color: #2DFF00;
}

.grid {
  overflow: scroll;
  height: 500px;
  font-size: 14px;
  line-height: 12px;
}

.ctrl .nav {
  margin-bottom: 10px;
}

.ctrl .log {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.ctrl .progress {
  margin-bottom: 0px;
}

.ctrl .progress-bar {
  color: #000;
  font-weight: bold;
}

.unit-ctrl h4 {
  margin: 0;
}

.unit-ctrl .panel, .unit-list .panel {
  margin-bottom: 5px;
}

.unit-ctrl .panel-heading, .unit-list .panel-heading {
  margin: 0 0 5px 0;
  cursor: pointer;
  position: relative;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.bot-panel {
  outline:0;
}
