
.ace_editor { height: 300px; }

.grid, .btn-mono {
  font-family: "Courier New", Courier, monospace;
}

.grid .bot {
  color: #a94442;
  cursor: pointer;
}

.grid .bot-base {
  color: #428bca;
}

.grid .bot.active {
  background-color: #2DFF00;
}

.grid {
  overflow: scroll;
  height: 500px;
  font-size: 14px;
  line-height: 12px;
}

.ctrl .nav {
  margin-bottom: 10px;
}

.ctrl textarea, .CodeMirror {
  width: 100%;
  min-height: 100px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.ctrl .progress {
  margin-bottom: 0px;
}

.ctrl .progress-bar {
  color: #000;
  font-weight: bold;
}

.unit-ctrl .panel, .unit-list .panel {
  margin-bottom: 5px;
}

.unit-ctrl .panel-heading {
  padding-left: 40px;
}

.unit-ctrl .panel-heading, .unit-list .panel-heading {
  margin: 0 0 5px 0;
  cursor: pointer;
  position: relative;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.unit-ctrl .panel-heading:before {
  font-family: 'Glyphicons Halflings';
  content: "\e079";
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 14px;
  line-height: 14px;
  margin-top: -7px;
  color: #ccc;
}

.unit-list .panel-heading:before {
  font-family: 'Glyphicons Halflings';
  content: "\e080";
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 14px;
  line-height: 14px;
  margin-top: -7px;
  color: #ccc;
}
