
.grid-ctrl {
  z-index: 100;
}

.grid, .btn-mono {
  font-family: "Courier New", Courier, monospace;
}

.ctrl hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ctrl .nav {
  margin-bottom: 10px;
}

.ctrl .log {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.ctrl .progress {
  margin-bottom: 0px;
  height: 20px;
}

.ctrl .progress-bar {
  color: #000;
  font-weight: bold;
}

.unit-ctrl {
  z-index: 99;
}

.unit-ctrl h4 {
  margin: 0;
}

.unit-ctrl > [sliding-list] {
  height: 100%;
}

.unit-ctrl .panel, .unit-list .panel {
  margin-bottom: 5px;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
}

.unit-ctrl .panel-heading, .unit-list .panel-heading {
  margin: 0 0 5px 0;
  cursor: pointer;
  position: relative;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.unit-ctrl .panel-body, .unit-list .panel-body {
  padding: 0 15px 5px 15px;
}

.bot-panel {
  outline:0;
  padding-top: 5px;
}

.script-btns .row {
  margin-bottom: 6px;
  padding: 0;
}

.script-btn .btn-hover {
  opacity: 0;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.script-btn:hover .btn-hover {
  opacity: 0.8;
}

.bot-panel .radio {
  margin-top: 7px;
  margin-bottom: 0;
}

.bot-panel .btn-group.active {
  opacity: .65;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.bot-panel .row-action-primary {
  padding-right: 0;
}

.bot-panel .row-action-primary {
  float: left;
  display: inline-block;
  padding-right: 16px;
}

.bot-panel .row-action-primary i {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  color: white;
  display: block;
  width: 56px;
  height: 56px;
}

.bot-panel .row-content {
  display: inline-block;
  width: calc(100% - 92px);
  min-height: 66px;
}

.bot-panel .console > span {
  position: absolute;
  margin-top: 8px;
}

.bot-panel .console > input {
  margin-left: 18px;
  width: 90%;
}

.btn-info .badge, .btn-danger .badge {
  color: #000;
}

.badge.energy, .badge.danger {
  background-color: #f44336;
  color: #000;
}

.badge.storage, .badge.info {
  background-color: #03a9f4;
  color: #000;
}

.list-group .list-group-item {
  overflow: inherit;
}

.dropdown-menu .active {
  background-color: #ccc;
}
