<div id="header" ng-intro-options="main.intro.options" ng-intro-method="startIntro" ng-intro-autorefresh="true" ng-intro-onafterchange="main.intro.afterChange" ng-intro-onbeforechange="main.intro.beforeChange" ng-intro-autostart="autoStart">
  <div class="container-fluid muted credit">
    Turn: {{main.game.stats.turn}}

    <span id="play-buttons">
      <button class="btn btn-sm"
        tooltip="Pause auto turn" tooltip-placement="bottom" tooltip-animation="false"
        ng-click="main.play(0)" ng-disabled="main.dT === 0">
        <i class="fa fa-pause"></i>
      </button>
      <button class="btn btn-sm"
        tooltip="Take turn" tooltip-placement="bottom" tooltip-animation="false"
        ng-click="main.play(0); main.takeTurn()" >
        <i class="fa fa-step-forward"></i>
      </button>
      <button class="btn btn-sm" tooltip="Play game"
        tooltip-placement="bottom" tooltip-animation="false"
        ng-disabled="main.dT === 6" ng-click="main.play(6)">
        <i class="fa fa-play"></i>
      </button>
      <button class="btn btn-sm"
        tooltip="Play game (fast)" tooltip-placement="bottom" tooltip-animation="false"
        ng-disabled="main.dT === 30" ng-click="main.play(30)">
        <i class="fa fa-forward"></i>
      </button>
    </span>

    <div class="pull-right">
      <button href id="stats-button" class="btn btn-sm" ng-click="main.pause()">
        <i class="fa fa-bolt"></i> {{main.game.stats.E | number:0}}
        <i class="fa fa-cog"></i> {{main.game.stats.S | number:0}}
      </button>

      <button class="btn btn-sm" ng-click="main.help('components/modals/help-model.html')">
        <i class="fa fa-question-circle"></i>
      </button>
      <a class="btn btn-sm" ng-click="startIntro(main.intro.counter || 1)">Tutorial</a>
    </div>

 </div>
</div>

<div id="wrap">
  <div class="container-fluid">

    <div id="left-panel" class="col-sm-6 grid-ctrl column">
      <div game-map id="grid" class="grid well small" item="main.bot" change="main.botChange">
      </div>
    </div>

    <div id="list" class="col-sm-6 ctrl unit-ctrl column">
      <div sliding-list="bot in main.game.ecs.families.bot" item="main.bot" change="main.botChange">
        <div class="small" bot-panel="bot" show-controls="opened"></div>
      </div>
    </div>

  </div>
</div>

<div id="footer">
  <div class="container-fluid muted credit">

    <div id="scripts-button" class="btn-group dropup">
      <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-code" aria-hidden="true"></span>
        <i>Scripts</i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="script in main.game.scripts">
          <a href ng-click="main.showScripts(script.name)">
            <i class="fa fa-code" aria-hidden="true"></i>
            {{script.name}}
          </a>
        </li>
        <li class="divider"></li>
        <li><a href ng-click="main.help('components/modals/api-help-model.html')"><i class="fa fa-question"></i> Scripting help</a></li>
      </ul>
    </div>

    <div id="save-button" class="btn-group dropup pull-right">
      <button type="button" class="btn btn-sm btn-default" data-toggle="dropdown" aria-expanded="false">Saved: <span>{{main.game.stats.saved | amTimeAgo}}</span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href  ng-click="main.save()"><i class="fa fa-floppy-o"></i> Save Now</a></li>
        <li class="divider"></li>
        <li><a href ng-click="main.reset()"><i class="fa fa-refresh"></i> Restart</a></li>
      </ul>
    </div>
 </div>
</div>
