<div class="modal-body">
  <span ng-bind-html="::message"></span>
  <h4>Game started <span am-time-ago="game.stats.start"></span></h4>
  <h4>You completed {{::game.stats.turn}} turns.</h4>
  <h4>You constructed {{::game.bots.length-1 | number:0}} bots.</h4>
  <h4>You collected {{::game.stats.S | number:0}} resources.</h4>
  <h4>You harvested {{::game.stats.E | number:0}} units of energy.</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-warning pull-left" ng-click="$close()" ng-if="showReset">Restart</button>
  <button class="btn btn-primary" ng-click="$dismiss()">Continue</button>
</div>
