<div class="modal-body">

  <div class="cfp-hotkeys">
    <h4 class="cfp-hotkeys-title">Keyboard Shortcuts:</h4>

    <table><tbody>
      <tr>
        <td class="cfp-hotkeys-keys">
          <span class="cfp-hotkeys-key">?</span>
        </td>
        <td class="cfp-hotkeys-text">Show / hide this help menu</td>
      </tr>
      <tr>
        <td class="cfp-hotkeys-keys">
          <span class="cfp-hotkeys-key">q</span>
          -
          <span class="cfp-hotkeys-key">c</span>
        </td>
        <td class="cfp-hotkeys-text">Move selected bot</td>
      </tr>
      <tr>
        <td class="cfp-hotkeys-keys">
          <span class="cfp-hotkeys-key">s</span>
        </td>
        <td class="cfp-hotkeys-text">Action key for selected bot</td>
      </tr>
      <tr>
        <td class="cfp-hotkeys-keys">
          <span class="cfp-hotkeys-key">j</span>
          <span class="cfp-hotkeys-key">k</span>
        </td>
        <td class="cfp-hotkeys-text">Prev/next bot</td>
      </tr>
    </tbody></table>

  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning pull-left" ng-click="$close()" ng-if="showReset">Restart</button>
  <button class="btn btn-primary" ng-click="$dismiss()">Continue</button>
</div>
