
<form name="form" novalidate>

  <div class="panel panel-default editor-panel">
    <div class="panel-heading">
      <!-- button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
      </button -->

      <div class="row">
        <div class="col-sm-4">
          <input class="form-control input-sm col-sm-6" name="name" ng-model="editor.name" placeholder="Name this script…" required/>
        </div>
        <div class="col-sm-4 control-label">
          <label ng-messages="form.name.$error">
            <span ng-message="required">required</span>
          </label>
        </div>
        <div class="col-sm-4">
          <div class="pull-right" >
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="fa fa-code" aria-hidden="true"></span>
                <i>Scripts</i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="(name,script) in editor.scripts">
                  <a href="#/" ng-click="editor.load(name)">
                    <span class="fa fa-code" aria-hidden="true"></span>
                    {{name}}
                    <button class="close" ng-click="editor.delete(name); $event.stopPropagation();"><span aria-hidden="true">&times;</span></button>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href ng-click="editor.help('components/modals/api-help-model.html')"><i class="fa fa-question"></i> Scripting help</a></li>
                <li class="divider"></li>
                <li><a href ng-click="editor.new()">
                  <i class="fa fa-plus-square"></i> New script
                </a></li>
                <li><a href ng-click="editor.new('copy of '+editor.name, editor.code)">
                  <i class="fa fa-files-o"></i> Duplicate script
                </a></li>
                <!-- li><a href ng-click="editor.delete(editor.script)">Delete script</a></li -->
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <textarea ui-ace="{
        useWrapMode : true,
        showGutter: true,
        mode: 'javascript',
        firstLineNumber: 1,
        onLoad : editor.aceLoaded
      }" ng-model="editor.code" name="code" required></textarea>
    </div>
    <div ng-messages="form.code.$error" class="col-xs-12 bg-danger">
      <div ng-message="required">required</div>
      <div ng-message="syntaxError">{{form.code.$error.syntaxError}}</div>
    </div>
    <div class="panel-footer">
      <div class="button-group pull-left">
        <button class="btn btn-danger" ng-click="editor.resetToDefaultScripts(form)">Reset default scripts</button>
      </div>
      <div class="button-group pull-right">
        <button class="btn btn-default" ng-click="editor.validate(editor.code, form)">Validate</button>
        <button class="btn btn-default" ng-click="editor.reset(form)">Reset</button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button class="btn btn-primary" ng-click="editor.save()">Save</button>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>

</form>
