<div id="bot-panel" class="bot-panel" tabindex="0">
  <div class="row-action-primary">
    <small>{{$index+1}}</small>
    <i>{{bot.bot.t}}</i>
  </div>
  <div class="row-content bot-panel-small">
    <h4>
      <span ng-switch="opened">
        <span ng-switch-when="true">
          <a href editable-text="bot.bot.name" onbeforesave="checkName($data)">{{ bot.bot.name }}</a>
        </span>
        <span ng-switch-default>{{ bot.bot.name }}</span>
      </span>
      <span class="badge alert-danger" ng-show="bot.bot.alerts[bot.bot.alerts.length-1].type === 'danger'"  ng-click="open(bot); bot.bot.logActive = true;">!</span>
    </h4>

    <div class="row energy-cost">
      <!-- label class="col-sm-2">MC</label-->
      <div class="col-sm-3 movement-cost">-{{bot.bot.moveCost | number : 0}} [J/km]</div>
      <!-- label class="col-sm-2">Ch</label -->
      <div class="col-sm-3 recharge-rate">+{{bot.bot.chargeRate | number : 2}} [J/d]</div>
    </div>

    <div class="row">
      <!-- label class="col-sm-2">[J]</label -->
      <div class="col-xs-6 energy-bar">
        <progressbar class="active" ng-attr-animate="false" ng-class="{'progress-striped': bot.bot.E < bot.bot.mE}" value="bot.bot.E * 100 / bot.bot.mE" type="danger">
          <span style="color:black; white-space:nowrap;">{{bot.bot.E | number : 1}} / {{bot.bot.mE | number : 0}} [J]</span>
        </progressbar>
      </div>

      <!-- label class="col-sm-2">Storage</label -->
      <div class="col-xs-6 storage-bar">
        <progressbar class="active" ng-attr-animate="false" value="bot.bot.S * 100 / bot.bot.mS" type="info">
          <span style="color:black; white-space:nowrap;">{{bot.bot.S}} / {{bot.bot.mS}} [kg]</span>
        </progressbar>
      </div>
    </div>
    <p />
    <div class="row">
      <div class="col-xs-6">

        <div class="row col-xs-10">
          <div class="input-group">
            <select class="form-control input-sm"
              ng-options="script.name as script.name for script in main.game.scripts"
              ng-model="bot.script.scriptName"
              ng-change="setScript(bot, bot.script.scriptName)">
              <option value="">Manual</option>
            </select>
            <span class="input-group-btn">
              <button class="btn btn-link btn-xxs"
                ng-click="main.showScripts(bot.script.scriptName)">
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </span>
            <span class="input-group-btn" ng-show="bot.bot.halted" ng-click="bot.bot.halted = false">
              <button class="btn btn-link btn-xxs text-danger">
                <i class="fa fa-eject fa-rotate-90"></i>
              </button>
            </span>
          </div>
        </div>

        <button class="btn btn-danger btn-xs" tooltip="Launch"
          ng-click="main.relocate(bot); $event.stopPropagation();"
          ng-show="bot.bot.canRelocate()">
          <i class="fa fa-rocket"></i>
          <span class="badge">-500 J</span>
        </button>

      </div>
      <div class="col-xs-6">
        <button class="btn btn-info btn-xs" tooltip="Upgrade bot"
          ng-click="bot.bot.upgrade(); $event.stopPropagation();"
          ng-disabled="bot.bot.S < 10"
          ng-show="main.bots.length > 1">
          <i class="fa fa-level-up"></i>
          <span class="badge">-10 kg</span>
        </button>
        <button class="btn btn-info btn-xs construct-button" tooltip="Construct new bot"
          ng-click="bot.bot.construct(); $event.stopPropagation();"
          ng-if="bot.bot.mS >= 100"
          ng-disabled="bot.bot.S < 100">
          <i class="fa fa-user-plus"></i>
          <span class="badge">-100 kg</span>
        </button>

      </div>
    </div>

  </div>

  <div ng-if="opened">
    <hr class="clearfix">
    <tabset type="pills" justified="true">
      <tab heading="Manual Control">
        <div class="row">
          <div class="col-lg-6 text-center">
            <u>Movement</u><br />
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move(-1,-1)" ng-disabled="!bot.bot.canMove(-1,-1)">Q</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move( 0,-1)" ng-disabled="!bot.bot.canMove( 0,-1)">W</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move( 1,-1)" ng-disabled="!bot.bot.canMove( 1,-1)">E</button>
            <p />
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move(-1,0)" ng-disabled="!bot.bot.canMove(-1,0)">A</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="main.action(bot)" ng-disabled="!main.canAction(bot)">S</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move( 1,0)" ng-disabled="!bot.bot.canMove( 1,0)">D</button>
            <p />
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move(-1,1)" ng-disabled="!bot.bot.canMove(-1,1)">Z</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move( 0,1)" ng-disabled="!bot.bot.canMove( 0,1)">X</button>
            <button class="btn btn-primary btn-mono btn-lg" ng-click="bot.bot.move( 1,1)" ng-disabled="!bot.bot.canMove( 1,1)">C</button>
            <p />
          </div>
          <div class="col-lg-6 script-btns">

            <u class="col-xs-11 text-center">Script</u>

            <div class="row script-btn" ng-repeat="script in main.game.scripts">
              <button class="btn btn-primary col-xs-11"
                ng-click="main.run(script.code)">
                {{script.name | limitTo : 10}}
              </button>
              <button class="btn btn-sm btn-link btn-hover col-xs-1"
                ng-click="main.showScripts(script.name)">
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </div>

          </div>

        </div>
      </tab>
      <tab heading="Log" active="bot.logActive">
        <div class="row">
          <button class="btn btn-sm btn-default pull-right"
            ng-click="bot.bot.clearLog()" ng-disabled="bot.bot.alerts.length < 1">
            <i class="fa fa-ban"></i>
          </button>
        </div>
        <div class="clearfix" />
        <alert ng-repeat="alert in bot.bot.alerts" type="{{alert.type}}" close="bot.bot.closeAlert($index)">{{alert.msg}}</alert>
      </tab>
      <tab heading="Cheats" ng-if="main.cheat">
        <div class="row">
          <div class="col-md-12">
            <button ng-click="main.game.world.scanRange(bot.bot.x,bot.bot.y,20)">Show map</button>
            <br />Energy: <input type="number" ng-model="bot.bot.E"> / <input type="number" ng-model="bot.bot.mE"> <a href ng-click="bot.bot.E = bot.bot.mE">fill</a>
            <br />Storage: <input type="number" ng-model="bot.bot.S"> / <input type="number" ng-model="bot.bot.mS"> <a href ng-click="bot.bot.S = bot.bot.mS">fill</a>
          </div>
        </div>
      </tab>
    </tabset>

    <form class="console col-md-12" ng-submit="main.run(code); code = '';">
      <span class="glyphicon glyphicon-chevron-right search-icon pull-left"></span>
      <input class="form-control" type="text" ng-model="code">
    </form>

  </div>




</div>
